<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Email Resetare Parola</title>
    </head>
    <body style="font-family: Arial, sans-serif; margin: 20px;">
        <h2>Resetare Parola</h2>
        <p>Buna ziua,</p>
        <p>Ati solicitat resetarea parolei. Faceti clic pe link-ul de mai jos pentru a reseta parola:</p>
        <hr>
        <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #007bff;">Reseteaza Parola</a></p>
        <hr>
        <p>Daca nu ati facut aceasta solicitare, puteti ignora acest mesaj.</p>
        <p>Multumim</p>
    </body>
</html>