{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'profil_candidat.css' %}">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{% static 'departament_nou.png' %}"><span class="font-weight-bold">Departament nou</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Adauga departament nou</h4>
                </div>
                    <form method="post">
                    <div class="row mt-6">
                        {% csrf_token %}
                            {{ form.nume }}
                    </div>
                        <div class="row mt-3">
                        </div>
                    <span class="text-danger small">{{ field.errors }}</span>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">  Salveaza  </button></div>
                    </form>
            </div>
        </div>
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <h4 class="text-center">Departamente Existente</h4>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nume Departament</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in departamente %}
                            <tr>
                                <td>{{ item.nume }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}