{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}
    <link rel="stylesheet" href="{% static 'lista_candidati.css' %}">
    <a class="btn btn-outline-primary float-left" style="margin: 10px 10px"  href="{% url 'candidati:recrutare' %}">Lista Candidati</a>
    <a class="btn btn-outline-primary float-left" style="margin: 10px 10px"  href="{% url 'candidati:lista_departamente' %}">Lista departamente</a>
    <a class="btn btn-outline-primary float-left" style="margin: 10px 10px"  href="{% url 'candidati:adaugare_candidat_nou' %}">Adaugare Candidat nou</a>
    <a class="btn btn-outline-primary float-right" style="margin: 10px 10px"  href="{% url 'candidati:adaugare_pozitie_noua' %}">Adaugare Pozitie Noua</a>
    <a class="btn btn-outline-primary float-right" style="margin: 10px 10px"  href="{% url 'candidati:adaugare_oras_nou' %}">Adaugare Oras Nou</a>
    <a class="btn btn-outline-primary float-right" style="margin: 10px 10px"  href="{% url 'candidati:adaugare_departament_nou' %}">Adaugare Departament Nou</a>
    <table class="table" >
        <thead>
            <tr>
                <th>Nr. crt.</th>
                <th>Total candidati</th>
                <th><a href="?sort=nume&order={{ request.GET.order|default:'asc' }}">Nume</a></th>
                <th>Tip Contract</th>
                <th>Mod de lucru</th>
                <th><a href="?sort=departament__nume&order={{ request.GET.order|default:'asc' }}">Departament</a></th>
                <th><a href="?sort=oras">Oras</a></th>
                <th>Stergere/Reactivare</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ numar_candidati_per_pozitie|get_item:item.id }}</td>
                        <td><a href="{% url 'candidati:lista_candidati_pozitie' item.id %}">{{ item.nume }}</a></td>
                        <td>{{ item.get_tip_contract_display }}</td>
                        <td>{{ item.get_mod_de_lucru_display }}</td>
                        <td>{{ item.departament }}</td>
                        <td>{{ item.oras }}</td>
                        <td>
                            {% if item.active == 1 %}
                                <a class="btn btn-outline-danger" href="{% url 'candidati:stergere_pozitie' item.id %}">Stergere</a>
                            {% else %}
                                <a class="btn btn-outline-success" href="{% url 'candidati:reactivare_pozitie' item.id %}">Reactivare</a>
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}